{% extends 'back.html.twig' %}

{% block title %}Payment index
    {{ knp_pagination_render(payments) }}
{% endblock %}

{% block body %}
    <h1>Payment index</h1>
    <br><br><br><br><br>

    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Hotel</th>
                <th>Type</th>
                <th>Somme</th>
            </tr>
        </thead>
        <tbody>
        {% for payment in payments %}
            <tr>
            <td>{{ payment.idReservation.idu.nomC }}</td>
            <td>{{ payment.idReservation.idhotel.nomh }}</td>
                <td>{{ payment.type }}</td>
                <td>{{ payment.somme }}</td>

        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

*{% endblock %}
