{% extends 'front.html.twig' %}

{% block title %}Payment Reservation{% endblock %}

{% block body %}

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    {{ form_start(form, {'attr': {'id': 'form'}})}}

    <div class="row">
        <div class="col-md-12 mb-3">
            Type :
            {{ form_widget(form.type, { 'attr': {'class': 'form-control rt-mb-30'} }) }}
            {{ form_errors(form.type) }}
        </div>

        <div class="col-md-12 mb-3">
            Somme :
            {{ form_widget(form.somme, { 'attr': {'class': 'form-control rt-mb-30'} }) }}
            {{ form_errors(form.somme) }}
        </div>




        <div class="col-md-12 text-center">
            <input type="submit" value="Enregistrer" class="btn btn-success" formnovalidate />
        </div>
    </div>
    {{ form_end(form) }}


{% endblock %}
