
{% extends 'front2.html.twig' %}



{% block title %}
    <div class="breadcrumbs-content">
        <h3>Hotels</h3>
        <div class="breadcrumbs">
            <span class="divider"><i class="icofont-home"></i></span>
            <a href="#" title="Home">Home</a>
            <span class="divider"><i class="icofont-simple-right"></i></span>
            Hotel
        </div><!-- /.breadcrumbs -->
    </div><!-- /.breadcrumbs-content -->
{% endblock %}
{% block search %}
    <div class="rt-banner-searchbox flight-search wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="1s">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane  show active" id="rt-item_a_second" role="tabpanel" aria-labelledby="rt-item_a_second">
                <form action="#">
                    <div class="rt-radio-group">
                        <div class="dropdown form-check-inline rt-searchlink">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink24"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Guestes per room
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink24">
                                <a class="dropdown-item" href="#">Room one</a>
                                <a class="dropdown-item" href="#">Room two</a>
                                <a class="dropdown-item" href="#">Room three</a>
                            </div>
                        </div><!-- ./dropdown -->
                    </div><!-- /.radio-group -->
                    <div class="rt-input-group">
                        <div class="single-input  col-rt-in-3">
                            <input type="text" class="form-control" placeholder="destination">

                        </div><!-- /.single-input -->
                        <div class="single-input  col-rt-in-3">
                            <input type="text" class="form-control rt-date-picker has-icon"
                                   placeholder="Depart">
                            <span class="input-iconbadge"><i class="icofont-ui-calendar"></i></span>
                        </div><!-- /.single-input -->
                        <div class="single-input  col-rt-in-3">
                            <input type="text" class="form-control rt-date-picker has-icon"
                                   placeholder="Return">
                            <span class="input-iconbadge"><i class="icofont-ui-calendar"></i></span>
                        </div><!-- /.single-input -->
                        <div class="single-input  col-rt-in-3">
                            <input type="text" class="form-control" placeholder="keywords(optional)">
                        </div><!-- /.single-input -->
                        <div class="single-input  col-rt-in-1">
                            <button type="submit"><i class="icofont-search"></i></button>
                        </div><!-- /.single-input -->
                    </div><!-- /.rt-input-group -->
                </form><!-- ./ form -->
            </div>
        </div>
    </div>
{% endblock %}
{% block choose%}
    <ul class=" nav-item nav serachnavs wow fade-in-bottom" id="rtMultiTab" role="tablist" data-wow-duration="1.5s"
        data-wow-delay="1.5s">
        <li class="nav-item">
            <a class="nav-link inactive" id="first-tab"  href="{{ path('list_transport1') }}" >
                <i class="icofont-airplane"></i>
                <span>Flights</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link inactive" href="#hotel">

                <i class="icofont-hotel"></i>
                <span>Hotels</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link inactive" href="{{ path('list_transport2') }}" >
                <i class="icofont-car-alt-4"></i>
                <span>Cars</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('list_transport3') }}">
                <i class="icofont-train-line"></i>
                <span>Trains</span>
            </a>
        </li>
    </ul>
{% endblock %}
{% block body %}
    {% for t in list  %}
        {% if (t.type=="train") %}
            <div class="flight-list-box rt-mb-30 row">
                <div class="col-md-3 mb-md-0 mb-4">
                    <div class="d-flex justify-content-between">
                        <span class="rt-medium f-size-24 primary-color">{{ t.nomagence }}</span>
                        <ul class="rt-llist train-timeline">
                            <li class="f-size-18 text-424">
                                06:26
                            </li>
                            <li class="f-size-18 text-424">
                                12:29
                            </li>
                        </ul>
                    </div>
                </div><!-- /.col-md-4 -->
                <div class="col-md-3 mb-md-0 mb-4 text-center text-md-right train-border">
                    <span class="f-size-12 text-424"><i class="icofont-clock-time rt-mr-3"></i>{{ t.duree }}</span>
                </div><!-- /.col-md-4 -->
                <div class="col-md-6">

                    <div class="d-flex justify-content-between rt-mb-15">
                        <span class="f-size-22 text-333">{{ t.destination }}</span>
                        <span class="f-size-24 text-primary rt-semiblod title-font"><span class="f-size-12">$</span>{{ t.prix }}</span>
                        <a href="train-2.html" class="rt-btn rt-gradient rt-sm3 pill text-uppercase">Book</a>
                        <a  href="{{ path('details',{'id':t.id}) }}"  class="rt-btn rt-gradient pill rt-sm3 text-uppercase ">print</a>

                    </div><!-- /.d-flex  -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.flight-box -->

        {% endif %}
    {% endfor %}
    <nav aria-label="Page navigation example">
        {{ knp_pagination_render(list) }}
    </nav>
{% endblock %}