{% extends 'base.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block body %}
    <h1>Offre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdOf</th>
                <th>NomOffre</th>
                <th>Budget</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.idOf }}</td>
                <td>{{ offre.nomOffre }}</td>
                <td>{{ offre.budget }}</td>
                <td>
                    {{ include('offre/_delete_form.html.twig') }}

                    <a href="{{ path('app_offre_edit', {'idOf': offre.idOf}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offre_new') }}">Create new</a>
{% endblock %}
