{% extends 'back.html.twig' %}

{% block title %}Hotels Managment{% endblock %}

{% block body %}


    <!--**********************************
           Content body start
       ***********************************-->
    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Add Hotel</a></li>
                </ol>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        {{ form_start(hotel) }}
                        <div class="card-body">
                            <div class="form-validation">
                                <form class="needs-validation" novalidate >
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="mb-3 row">
                                                <label class="col-lg-4 col-form-label" for="validationCustom01">Hotel Name
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    {{ form_widget(hotel.nomh, {'attr' :{'class': "form-control"}}) }}
                                                    <div class="invalid-feedback">
                                                        Please enter a hotel name.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label class="col-lg-4 col-form-label" for="validationCustom02">Hotel Category <span
                                                            class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    {{ form_widget(hotel.categorie, {'attr' :{'class': "form-control"}}) }}

                                                    <div class="invalid-feedback">
                                                        Please enter a Hotel Category.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label class="col-lg-4 col-form-label" for="validationCustom03">Adress
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    {{ form_widget(hotel.adresse, {'attr' :{'class': "form-control"}}) }}
                                                    <div class="invalid-feedback">
                                                        Please enter a Adress.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label class="col-lg-4 col-form-label" for="validationCustom04">email <span
                                                            class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    {{ form_widget(hotel.email, {'attr' :{'class': "form-control"}}) }}
                                                    <div class="invalid-feedback">
                                                        Please enter a Email.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="mb-3 row">
                                                <label class="col-lg-4 col-form-label" for="validationCustom08">Phone (TN)
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    {{ form_widget(hotel.telh, {'attr' :{'class': "form-control"}}) }}
                                                    <div class="invalid-feedback">
                                                        Please enter a phone no.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <label class="col-lg-4 col-form-label" for="validationCustom07">Equipment
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    {{ form_widget(hotel.equipement, {'attr' :{'class': "form-control"}}) }}
                                                    <div class="invalid-feedback">
                                                        Please enter a url.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label class="col-lg-4 col-form-label" for="validationCustom11">Select Image
                                                    <span class="text-danger">*</span>

                                                </label>
                                                <div class="col-lg-6">
                                                    <div class="input-group mb-3">
                                                        <div class="form-file">
                                                            {{ form_widget(hotel.image, {'attr' :{'class': "form-control"}}) }}

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label class="col-lg-4 col-form-label" for="validationCustom04">Services <span
                                                            class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    {{ form_widget(hotel.service, {'attr' :{'class': "form-control"}}) }}
                                                    <div class="invalid-fez">
                                                        Please enter a Activity.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <label class="col-lg-4 col-form-label"><a
                                                            href="javascript:void()">Terms &amp; Conditions</a> <span
                                                            class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-8">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="validationCustom12" required>
                                                        <label class="form-check-label" for="validationCustom12">
                                                            Agree to terms and conditions
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <div class="col-lg-8 ms-auto">
                                                    <button type="submit" class="btn btn-primary">Submit{{ form_end(hotel) }}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--**********************************
        Content body end
    ***********************************-->




{% endblock %}