{% extends 'back.html.twig' %}

{% block title %}Hotels Managment{% endblock %}
{% block search %}
<form method="get" action="{{ path('searchname')}}">
    <div class="input-group search-area">
        <input type="text" class="form-control" placeholder="" name="search">
        <span class="input-group-text"><a href="" type="submit"><i class="flaticon-381-search-2"></i></a></span>
    </div>
</form>
{% endblock %}
{% block body %}

    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Hotel List</a></li>
                </ol>
            </div>
            <!-- row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Recent Payments Queue</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-responsive-md">
                                    <thead>
                                    <tr>
                                        <th style="width:80px;"><strong>#</strong></th>
                                        <th><strong>HOTEL NAME</strong></th>
                                        <th><strong>HOTEL CATEGORY</strong></th>
                                        <th><strong>HOTEL ADRESS</strong></th>
                                        <th><strong>E-MAIL</strong></th>
                                        <th><strong>PHONE NUMBER</strong></th>
                                        <th><strong>HOTEL EQUIPMENT</strong></th>
                                        <th><strong>PHOTO</strong></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody{% for h in list %}>
                                    <tr>
                                        <td><strong>{{ h.idh }}</strong></td>
                                        <td><a class="dropdown" href="">{{ h.nomh }}</a> </td>
                                        <td>{{ h.categorie }}</td>
                                        <td>{{ h.adresse }}</td>
                                        <td>{{ h.email }}</td>
                                        <td>{{ h.telh }}</td>
                                        <td>{{ h.equipement }}</td>
                                        <td>{{ h.image }}</td>
                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-success light sharp" data-bs-toggle="dropdown">
                                                    <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><circle fill="#000000" cx="5" cy="12" r="2"/><circle fill="#000000" cx="12" cy="12" r="2"/><circle fill="#000000" cx="19" cy="12" r="2"/></g></svg>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="{{ path('update_hotel', {'idh':h.idh}) }}">Edit</a>
                                                    <a class="dropdown-item" href="{{ path('delete_hotel', {'idh':h.idh}) }}">Delete</a>
                                                    <a class="dropdown-item" href="{{ path('pdf', {'idh':h.idh}) }}">Print</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody{% endfor %}>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}