{% extends 'front.html.twig' %}

{% block title %}Edit Reservation{% endblock %}

                       {% block body %}

                           <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


                           {{ form_start(form, {'attr': {'id': 'form'}})}}

                           <div class="row">
                               <div class="col-md-6 mb-3">

                                   Date Debut :
                                   {{ form_widget(form.dateDeb, { 'attr': {'class': 'form-control rt-mb-30'} }) }}
                                   {{ form_errors(form.dateDeb) }}
                               </div>
                               <div class="col-md-6 mb-3">
                                   Date Fin :
                                   {{ form_widget(form.dateFin, { 'attr': {'class': 'form-control rt-mb-30'} }) }}
                                   {{ form_errors(form.dateFin) }}
                               </div>
                               <div class="col-md-6 mb-3">
                                   Guide :
                                   {{ form_widget(form.etatGuide, { 'attr': {'class': 'form-control rt-mb-30'} }) }}
                                   {{ form_errors(form.etatGuide) }}
                               </div>



                               <div class="col-md-12 text-center">
                                   <input type="submit" value="Enregistrer" class="btn btn-success" formnovalidate />
                               </div>
                           </div>
                           {{ form_end(form) }}


                           <script>
                               const form= document.getElementById('form');
                               const errorElement= document.getElementById('errorElement');
                               var now = new Date();
                               form.addEventListener('submit',(e)=> {
                                   let message = [];



                                   const year= document.getElementById('reservation_dateDeb_year').value;
                                   const month= document.getElementById('reservation_dateDeb_month').value;
                                   const day= document.getElementById('reservation_dateDeb_day').value;


                                   var date= new Date(year,month,day)



                                   const yearf= document.getElementById('reservation_dateFin_year').value;
                                   const monthf= document.getElementById('reservation_dateFin_month').value;
                                   const dayf= document.getElementById('reservation_dateFin_day').value;


                                   var datef= new Date(yearf,monthf,dayf)




                                   console.log('whyy'+date)

                                   console.log(date , ' ', now)
                                   if((date < now)){
                                       swal("Oops...","Valider votre date ","error" );
                                       message.push('Vérifier Votre date')
                                   }
                                   if ((date > datef)){

                                       swal("Oops...","Valider votre date ","error" );
                                       message.push('Vérifier Votre date')


                                   }
                                   console.log(message)
                                   if(message.length> 0){
                                       e.preventDefault();
                                       errorElement.innerText = message.join(', ')
                                   }
                               })
                           </script>


                       {% endblock %}
